.js {
	filter: invert(98%) sepia(70%) saturate(7490%) hue-rotate(336deg) brightness(96%) contrast(101%);
}

.nodejs {
	filter: invert(44%) sepia(50%) saturate(498%) hue-rotate(70deg) brightness(94%) contrast(91%);
}

.vue {
	filter: invert(73%) sepia(14%) saturate(1629%) hue-rotate(101deg) brightness(86%) contrast(81%);
}

.html {
	filter: invert(46%) sepia(80%) saturate(1321%) hue-rotate(342deg) brightness(98%) contrast(93%);
}

.css {
	filter: invert(35%) sepia(84%) saturate(831%) hue-rotate(171deg) brightness(92%) contrast(87%);
}

.react {
	filter: invert(79%) sepia(39%) saturate(3968%) hue-rotate(168deg) brightness(106%) contrast(102%);
}
