.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	text-align: left;
}

.hero-title {
	width: 100%;
	font-size: var(--2xl);
}

.hero-image {
	display: flex;
	justify-content: center;
	align-items: center;
	object-fit: cover;
}

.tech-stack {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--md);
}

.hero-pre {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.75);
	color: var(--secondary);
	border-radius: var(--sm);
	padding: var(--sm);
	backdrop-filter: opacity(0.5);
	text-align: center;
}

@media (min-width: 768px) {
	.hero-image {
		font-size: var(--xl);
	}

	p {
		font-size: var(--lg);
	}
}
