.numbers {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: 1rem;
}

.number {
	background: white;
	border: 1px solid black;
	border-radius: 5px;
	padding: 0.5rem;
	min-width: 50px;
	max-width: 50px;
	text-align: center;
}

.green {
	background-color: var(--primary);
	animation: paint-red 1s forwards;
}

@keyframes paint-red {
	0% {
		transform: rotateY(0deg);
		background-color: var(--primary);
	}
	100% {
		transform: rotateY(360deg);
		background-color: var(--primary);
		color: var(--secondary);
	}
}
