@import './button.css';
@import './hero.css';
@import './projects.css';
@import './animations.css';

:root {
	/* Colors */
	--background: #f8fafc;

	--primary: #24282c;
	--secondary: #f8fafc;

	/* Spacing, Sizing */
	--sm: 0.5rem;
	--md: 0.75rem;
	--lg: 1rem;
	--xl: 1.5rem;
	--2xl: 2rem;
	--3xl: 2.5rem;

	/* Border Radius */
	--radius-sm: 0.25rem;
	--radius-md: 0.5rem;
	--radius-lg: 1rem;
	--radius-xl: 2rem;
	--radius-full: 100%;

	/* Gap */
	--gap-sm: calc(var(--md) * 1) /* 0.5 */;
	--gap-md: calc(var(--md) * 1.5) /* 0.75 */;
	--gap-lg: calc(var(--md) * 2) /* 1 */;
	--gap-xl: calc(var(--md) * 2.5) /* 1.5 */;
}

html {
	box-sizing: border-box;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

html {
	font-size: 100%;
} /*16px*/

html.lenis {
	height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

.lenis.lenis-scrolling iframe {
	pointer-events: none;
}

body {
	background: var(--background);
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	color: var(--primary);
	line-height: 1.75;
	padding: 0;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 3rem 0 1.38rem;
	font-family: 'Lexend Deca', sans-serif;
	font-weight: 400;
	line-height: 1.3;
}

h1 {
	margin-top: 0;
	font-size: 3.052rem;
}

h2 {
	font-size: 2.441rem;
}

h3 {
	font-size: 1.953rem;
}

h4 {
	font-size: 1.563rem;
}

h5 {
	font-size: 1.25rem;
}

small,
.text_small {
	font-size: 0.8rem;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: var(--primary);
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	padding: var(--md);
}

.container {
	padding: var(--lg);
}

.social-links {
	justify-content: flex-start;
	align-items: center;
	gap: var(--gap-lg);
}

.show-md {
	display: none;
}

.show-sm {
	display: block;
}

.social {
	height: var(--xl);
	width: var(--xl);
}

.instagram {
	fill: blue;
}

.linkedin {
	filter: blue;
}

.flex {
	display: flex;
}

.flex-sm {
	display: flex;
}

.flex-md {
	display: none;
}

.flex-col {
	flex-direction: column;
}

.flex-start {
	justify-content: flex-start;
}

.flex-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.margin-0 {
	margin: 0;
}

@media (min-width: 768px) {
	header {
		display: block;
	}
	.show-md {
		display: inherit;
	}

	.show-sm {
		display: none;
	}

	.flex-sm {
		display: none;
	}

	.flex-md {
		display: flex;
	}
}
