.projects {
	width: 100%;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	gap: var(--gap-md);
}

.project {
	width: 100%;
	padding: var(--sm);
	background-color: var(--primary-light);
	border-radius: var(--radius-sm);
	border: 1px solid hsl(210, 10%, 90%);
	box-shadow: 1px 2px 4px var(--primary-light);

	a {
		height: 100%;
	}

	h5 {
		margin: 0;
	}

	p {
		font-size: var(--lg);
	}
}

.contact-dialog {
	transition: all 150ms ease-in-out;
	border-radius: var(--radius-sm);
	border: 1px solid var(--primary-light);
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.contact-dialog::backdrop {
	background-color: hsl(255, 255, 255, 0.15);
	backdrop-filter: blur(2px);
}
