.flex {
	display: flex;
}

.flex-col {
	flex-direction: column;
}

.flex-center {
	justify-content: center;
}

.flex-start {
	justify-content: flex-start;
}

.flex-between {
	justify-content: space-between;
}

.items-center {
	align-items: center;
}

.margin-0 {
	margin: 0;
}

.mt-3 {
	margin-top: var(--lg);
}

.mt-4 {
	margin-top: calc(var(--lg) * 1.5);
}

.mt-5 {
	margin-top: calc(var(--lg) * 1.75);
}

.mt-6 {
	margin-top: calc(var(--lg) * 2);
}

.show-md {
	display: none;
}

.show-sm {
	display: block;
}

.w-full {
	width: 100%;
}

@media (min-width: 768px) {
	.show-md {
		display: inherit;
	}

	.show-sm {
		display: none;
	}
}
