.about {
  min-height: 100vh;
  max-width: 100%;
  width: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: .375rem;
  color: var(--light);
  background-color: var(--dark);
}


.about-phases {
  min-height: 100vh;
  max-width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.about-icon {
  fill: var(--light);
  height: 2rem;
  width: 2rem;
  position: absolute;
  left: 60%;
  top: 15%;
  border-radius: 100%;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
	transform: scale(1);
	animation: pulse 2s infinite;
}

.about-phase {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.about-phase-title {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.about-description {
  text-align: left;
  padding: 0 1rem;
  opacity: 0;
	animation: fade-in 250ms forwards ease-in-out 2s;
}

.next {
  border-radius: 100%;
  background-color: transparent;
  border: 0;
}

.next-icon {
  fill: var(--light);
  height: 1.25rem;
  width: 1.25rem;
  margin-top: 5rem;
  border-radius: 100%;
  opacity: 0;
	animation: fade-in 250ms forwards ease-in-out 2s;
}

.about-cta {
  border: 2px solid var(--light);
  border-radius: .175rem;
  padding: .75rem;
  margin-top: .25rem;
  width: 90%;
  color: var(--light);
  font-weight: 500;
  background: transparent;
}


@media (min-width: 480px) {
 .about-icon {
   position: relative;
  }

  .about-phase {
    max-width: 70%;
  }
}


@media screen and (min-width: 1024px) {
  /* … */
 .contact-form-container {
    max-width: 40%;
 }
  .contact-form-container > input, textarea {
    width: 94%
  }
}

@media screen and (min-width: 1320px) {
  /* … */
 .contact-form-container {
    max-width: 70%;
 }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateX(-15px);
  }

  50% {
    transform: translateX(-5px);
    opacity: 0.5;
  }

  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255,255, 255, 0.7);
	}

	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
	}

	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
	}
}