.contact-form {
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  background: var(--light);
}

.contact-form-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
}

.contact-form-container > label {
  display: block;
  font-size: large;
}

.contact-form-container > input, textarea {
  display: block;
  width: 93%;
  margin-bottom: 1rem;
  padding: .75rem;
  border-radius: 3px;
  border: 1.5px solid var(--dark);
  color: var(--dark); 
  font-size: larger;
  font-family: 'Lexend Deca';
  background: transparent
}

.contact-form-container > button {
  border: 2px solid var(--dark);
  border-radius: .175rem;
  padding: .75rem;
  width: 100%;
  color: var(--dark);
  font-weight: 500;
  background-color: transparent;
}

@media screen and (min-width: 481px) {
  /* … */
  .contact-form-container {
    max-width: 70%;
  }
  
  .contact-form-container > input, textarea {
    width: 95%
  }
}

@media screen and (min-width: 1024px) {
  /* … */
 .contact-form-container {
    max-width: 40%;
 }
  .contact-form-container > input, textarea {
    width: 94%
  }
}

@media screen and (min-width: 1320px) {
  /* … */
 .contact-form-container {
    max-width: 70%;
 }

  .contact-form-container > input, textarea {
    width: 97%
  }
}
